.prevbtn,.nextbtn{
 
  background: transparent;
  border: 1px solid rgb(13, 13, 14);
  padding:12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:black;
}
.prevbtn:hover, .nextbtn:hover{
  background-color:black;
  color: white;
  cursor: pointer;;
}
button{
  background-color: black;
  color:white;
  padding: 12px;
}
button:hover{
  background:transparent;
  color:black;
  
}